:root {
  --primary: #189471;
  --primary-lighten: #5fb2a2;
  --primary-lighten-1: rgba(24, 148, 113,0.1);
  --primary-lighten-2: rgba(24, 148, 113,0.2);
  --primary-lighten-3: rgba(24, 148, 113,0.3);
  --primary-darken: #086542;

  --secondary:#EF7757;
  --secondary-lighten: #F4A089;
  --secondary-darken: #E4472C;


  /* --primary:#EF7757;
  --primary-lighten: #F4A089;
  --primary-lighten-1: rgba(239, 119, 87,0.1);
  --primary-lighten-2: rgba(239, 119, 87,0.2);
  --primary-lighten-3: rgba(239, 119, 87,0.3);
  --primary-darken: #E4472C;

  --secondary: #189471;
  --secondary-lighten: #5fb2a2;
  --secondary-darken: #086542; */

    --ternary: #F7D05C;
  }

::selection {
    background: #C6180C;
    color: #fff;
}